.a{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.O05sZ_Zw39xCSW1845qSlwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;

}